<div class="calendar is-large">
	<div class="calendar-nav">
		<div class="calendar-nav-left">
			<a href="/calendar/{{prevMonth}}" class="button is-text">
				<i class="fa fa-chevron-left"></i>
			</a>
		</div>

		<div>{{monthName}} 2018</div>

		<div class="calendar-nav-right">
			<a href="/calendar/{{nextMonth}}" class="button is-text">
				<i class="fa fa-chevron-right"></i>
			</a>
		</div>
	</div>

	<div class="calendar-container">
		<div class="calendar-header">
			<div class="calendar-date">Sun</div>
			<div class="calendar-date">Mon</div>
			<div class="calendar-date">Tue</div>
			<div class="calendar-date">Wed</div>
			<div class="calendar-date">Thu</div>
			<div class="calendar-date">Fri</div>
			<div class="calendar-date">Sat</div>
		</div>

		<div class="calendar-body">
			{{# each days}} {{# if this.outsideMonth}}
			<div class="calendar-date is-disabled">
				<button class="date-item">{{this.dayOfMonth}}</button>
				<div class="calendar-events">
					{{#each this.events}}
					<a href="/events/{{this.id}}/" class="calendar-event {{this.class}}">{{this.name}}</a>
					{{/each}}
				</div>
			</div>
			{{else}}
			<div class="calendar-date">
				<button class="date-item">{{this.dayOfMonth}}</button>
				<div class="calendar-events">
					{{#each this.events}}
					<a href="/events/{{this.id}}/" class="calendar-event {{this.class}}">{{this.name}}</a>
					{{/each}}
				</div>
			</div>
			{{/if}} {{/each}}
		</div>
	</div>
</div>